/.env
/GroceryLists/Grocery_list_2021-05-03 17:46.pdf
/GroceryLists/Grocery_list_2021-05-04 06:18.pdf
/GroceryLists/Grocery_list_2021-05-04 06:34.pdf
/GroceryLists/Grocery_list_2021-05-04 07:06.pdf
/GroceryLists/Grocery_list_2021-05-05 08:22.pdf
/GroceryLists/Grocery_list_2021-05-30 10:07.pdf
/.idea/misc.xml
/.idea/modules.xml
/.idea/libraries/R_User_Library.xml
/.idea/RecipeApp.iml
/.idea/vcs.xml
